<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragments="head">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-material-design.min.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <title>Belana - Production</title>

    <style>
        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {
        }
        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {
        }
        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
        }
        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
        }
        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
        }
    </style>
</head>
</html>